body{
	margin:none;
	padding:0px;
}
.div1,.div2,.div-1-a,.div-1-b{
	display:inline-block;
}
img{
	margin:40px;
	postion:absolute;
	margin-top: 0px;
	padding:0px;
}
.div1{
	width:50%;
}
.div2{
	position:absolute;
	margin-top:20px;
	margin-right:20px;
	width:50%;
	display:inline-block;
	padding: 20px;
}
.div2 >p{
	font-size:25px;
}
.about{
	padding-bottom:30px;
	font-size:40px;
}
.div-1-b{
	postion:absolute;
	margin-top: 0px;
}
